.cocos-project.json
.project
.settings/
.vs/
.vscode/
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
ALL_BUILD.vcxproj.user
CMakeCache.txt
CMakeFiles/
CMakeLists.txt
Debug/
README.md
Win32/
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
bin/
cmake_install.cmake
config.json
engine/
frameworks/
lib/
lua.code-workspace
runtime/
tetris.dir/
tetris.sln
tetris.vcxproj
tetris.vcxproj.filters
tetris.vcxproj.user
"\344\277\204\347\275\227\346\226\257\346\226\271\345\235\227\345\220\204\351\241\271\345\217\202\346\225\260\350\256\276\347\275\256.md"