.cocos-project.json
.project
.settings/
.vs/
.vscode/
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
ALL_BUILD.vcxproj.user
CMakeCache.txt
CMakeFiles/
CMakeLists.txt
Debug/
README.md
Win32/
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
bin/
cmake_install.cmake
config.json
engine/
frameworks/
lib/
lua.code-workspace
runtime/
tetris.dir/
tetris.sln
tetris.vcxproj
tetris.vcxproj.filters
tetris.vcxproj.user